/*
*{
border:1px solid orange;
}
*/


body{
margin:0;
font-size:14px;
font-family:Verdana;
background:url('../img/back/always_grey.png');
color:#EFF2FF;
}
body a, .resaltado{
color:#75A9FB;
}
body a:hover:not(.button){
color:#7F9E87;
}
body h2, h3, p{
color:#EFF1F4;
}
body h2{
font-size:1.7em;
font-weight:normal;
}
body p{
font-size:1em;
}
body code{
font-size:1.3em;
text-shadow:1px 1px 1px #940500;
}
#header{
margin:0 auto;
width:900px;
overflow:auto;
padding-left:1.5em; 
}
#headerTop{
margin-top:1em;
width:30em;
float:left;
}

#headerLeft{
text-align:right;
margin-left:40em;
margin-top:1em;
width:20em;
}

#main{
clear:both;
margin:0 auto;
width:1200px;
}
#barLeft{
border-top:1px solid #D2D2D2;
border-bottom:1px solid #D2D2D2;
text-align:left;
width:16em;
float:left;
margin-top:17.5em;
-webkit-box-shadow:1px 1px 20px white;
-moz-box-shadow:1px 1px 20px white;
}
#barLeft ul{
padding:0px .5em 1.5em 1em;
}
#barLeft ul li{
margin-bottom:2em;
}
#content{
margin-top:0em;
margin-left:9.5em;
padding:1em 2em 0px 2em;
width:900px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
overflow:hidden;
}

header{
	background:url('../img/mainlogo.png') no-repeat center;
	border:1px solid transparent;
	display:block;
	height:200px;	
}

header h1{
	margin-top:170px;
}

#content h1{
font-family: 'Gochi Hand', cursive;
letter-spacing:5px;
font-size:2.6em;
font-weight:normal;
color: #DFE7F6;
text-shadow: 1px 1px 2px #fff;
text-align:center;
}
#content h1:hover{
cursor:pointer;
color: #F6EFDF;
transform: scale(1.1);
-webkit-transform: scale(1.1);
}
#contentNews{
width:310px;
height:130px;
margin-left:40em;
margin-top:1.3em;
}
#contentNews img{
height:130px;
width:310px;
}
#menu{
margin-top:1.6em;
text-align:center;
}
/* Menú */
.button{
display:inline-block;
outline:none;
cursor:pointer;
text-align:center;
text-decoration:none;
font:16px;
padding:.8em 1.4em;
margin-right:.5em;
-webkit-border-radius: .5em; 
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration:none;
}

.button:active {
	position: relative;
	top: 1px;
}

.buttonRed {
	color: #E8E8E8;
	border: solid 0px white;
	background: #692B28;
	background: -webkit-gradient(linear, left top, left bottom, from(#7F9E87), to(#7F9E87));
	background: -moz-linear-gradient(top,  #693F3D,  #550D09);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#693F3D', endColorstr='#550D09');
}
.buttonRed:hover {
	color:#7F9E87;
	background: #E8E8E8;
	background: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#E8E8E8));
	background: -moz-linear-gradient(top,  #B31710,  #B30700);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#B31710', endColorstr='#B30700');
}
.buttonRed:active {
	background: #940500;
	background: -webkit-gradient(linear, left top, left bottom, from(#B31710), to(#B30700));
	background: -moz-linear-gradient(top,  #B31710,  #B30700);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='##B31710', endColorstr='#B30700');
}

/* Fin Menú */
#mainContent{	
	padding-left:10px;
}

#mainContent h2{
margin-top:2em;
}
#busquedaTorneo{
width:370px;
margin-left:36em;
margin-bottom:.5em;
}
#busquedaTorneo p{
margin:0;
}

#busquedaTorneo input[type="search"]{
width:300px;
background-image:url('../img/glass.png');
background-repeat:no-repeat;
padding-left:25px;
border:3px solid #7F9E87;
height:2.4em;
margin-right:.4em;
}
.tournamentImg{
clear:left;
width:500px;
float:left;
}
.tournamentOptions{
width:200px;
margin-left:42em;
}
.shareTournament{

}
.tournamentContent{
clear:both;
}
.statusTournament{
display:block;
margin-right:10px;
width:1.3em;
height:1.3em;
-webkit-border-radius:25px;
-moz-border-radius:25px;
border-radius:25px;
float:left;
}
.reservaabierta{
background:#71B43A;
}
.encompetencia{
background:#3648CC;
}
.suspendido{
background:#D1331F;
}
.concluido{
background:#ECE61F;
}
.tournamentContent h3{
width:600px;
float:left;
}
.tournamentContent p{
clear:both;
}
.seeMore{
text-align:center;
border:1px solid orange;
-webkit-border-radius:10px;
-moz-border-radius:10px;
margin:10px auto 40px;
background:#DAE4F5;
padding:10px;
}
.seeMore a{
color:#235094;
}
.separator:not(.last){
border-top:2px solid #693F3D;
border-bottom:1px solid white;
margin-top:4em;
margin-bottom:4em;
-moz-box-shadow: 4px 4px 4px #888;
-webkit-box-shadow: 4px 4px 4px #888;
box-shadow: 4px 4px 4px #888;
}
.last{
border-top:2px solid #693F3D;
border-bottom:1px solid white;
}
#backgroundPopUp{
height:100%;
width:100%;
background:#000000;
position:fixed;
display:none;
top:0;
left:0;
z-index:1;
}
.detalleReserva{
position:absolute;
width:50%;
border:3px solid white;
background:#2A3034;
border-radius:10px;
z-index:2;
padding:5px;
display:none;
}
#popUp a{
margin:0px 0px 0px 10px;
}
#torneoMenu{
position:absolute;
left:16.4em;
text-align:left;
display:none;
}
#torneoMenu ul{
padding:0;
}
#torneoMenu ul li{
margin-bottom:1em;
list-style:none;
}
#registro{
position:absolute;
right:16em;
margin-top:20px;
border:3px solid white;
-webkit-border-radius:15px;
-moz-border-radius:15px;
background:#2A3034;
display:none;
z-index:3;
padding:15px 20px;

}
#registro label:nth-child(1){
clear:right;
}

#registro label{	
	display:block;
}

#cerrarRegistro{
color:#EC4854;
font-size:2em;
float:right;
margin-right:20px;
cursor:pointer;
}
#cerrarRegistro:hover{
color:#851820;
}
.cerrar{
	margin-right:16px;
	margin-top:20px;
	float:right;
}
#headerTop input[type="text"], #headerTop input[type="password"], #registro input[type="text"], #registro input[type="password"]{
padding: 9px;
border: solid 1px #E5E5E5;
outline: 0;
font: normal 13px/100% Verdana, Tahoma, sans-serif;
width: 140px;
background: #FFFFFF url('bg_form.png') left top repeat-x;
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
#headerTop input[type="text"], #headerTop input[type="password"]{
width: 140px;
padding: 4px;
}
#detalleReservaContent{
clear:right;
text-align:center;
margin:0 auto;

}

.tabla{
	margin:20px auto;
}

.tabla tr,th,td{
	border:1px solid white;
	padding:10px;
}

.boton{
border:2px solid white;
background:white;
padding:7px;
margin-bottom:1em;
}
.boton:hover{
background:#7F9E87;
color:#E8E8E8;
cursor:pointer;
}
#invitados{
  display: inline-block;
}
.advice{
color:#EC4854;
}
.error_register{
font-size:1.3em;
text-shadow:1px 1px 8px white;
}

#descptorneo p{
width:650px;
}

.detalleform, #detalle article{
display:block;
border:1px solid #E3D8D7;
padding:4px 0px 4px 20px;
width:650px;
margin-bottom:22px;
margin-top:20px;
-webkit-border-radius:7px;
}

.detalleform input[type="text"]{
width:180px;
height:2em;
padding:0.4em 0.5em;
}

.detalleform input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus, #codigoPago:hover, #codigoPago:active{
border-color: #C9C9C9; 
-box-shadow: 0px 0px 8px white;
-webkit-box-shadow: 0px 0px 7px white;
-moz-box-shadow: 0px 0px 8px white;
}

.detalleform textarea{
width:420px;
height:10em;
font-family:Arial;
resize:none;
}

.degradado{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.advice, .asterisco, .error{
color:#EC4854;
font-weight: bold;
}

article p{
padding:3px 0px 2px 20px;
}

article a{
font-weight: bold;
}

#detalle article{
/*background: #F3F3F3;*/
}
#detalle article p{
color: #000;
}

.misTorneosSession a:nth-child(even){
color:#90BBFF;
}

#comments p:nth-child(3){
	text-align:right;
	padding-right:35px;
}

.img_excep{
	text-align:center;
}

.lastseparator{	
	margin-bottom:140px;
}
.centrar{
	font-weight:bold;
	margin-bottom:35px;
	text-align:center;
}
#codigoPago{
	height:25px;
	width:220px;
	font-size:20px;
	padding-left:7px;
}
.botonpago{
	margin-right:20px;
}
#reservapago{
	margin-left:20px;	
}